      body {
        font-family: "Lato", sans-serif;
        transition: background-color 0.5s;
      }

      .sidenav {
        height: 60%;
        width: 0;
        position: fixed;
        /* z-index: 1; */
        top: 0;
        left: 0;
        background-color: rgb(122, 89, 255);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 5px;
        border-radius: 0px 0px 20px 0px;
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        margin: 20px 0px 20px 0px;
      }

      .sidenav a:hover {
        color: rgb(215, 204, 255);
      }

      #main a {
        align-content: center;
        margin: 10px 0px 10px 0px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      #main {
        transition: margin-left 0.5s;
        margin-bottom: 50px;
      }

      #mainOpen{
        margin-left: 5px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
        }

        .sidenav a {
          font-size: 18px;
        }
      }